:root {
    /* MONOCHROME */
    --color-mono-white: #F5F5FA;
    --color-mono-lightgrey: #CCCCCC;
    --color-mono-grey: #878787;
    --color-mono-darkgrey: #494A50;
    --color-mono-black: #13131A;

    /* MAIN COLOR */
    --color-mainblue-1: #C0DEF1;
    --color-mainblue-2: #93C3E1;
    --color-mainblue-3: #66A7D1;
    --color-mainblue-4: #2A83BB;
    --color-mainblue-5: #236C9A;
    --color-mainblue-6: #1B5478;
    --color-mainblue-7: #143D57;

    /* ADDITIONAL COLOR */
    --color-add-dark-yellow: #A98600;
    --color-add-brown: #AE4300;
    --color-add-blue: #0E27CB;
    --color-add-green: #1ABA0C;
    --color-add-red: #EE0000;
}